{% extends "base.html" %} {% block content %}
<div id="card-words" class="card border-info">
    <div class="card-header">Title</div>
    <div class="card-body text-primary">
        {% for word in title %}
        <span class="badge badge-info">{{ word }}</span>
        {% endfor %}
    </div>
</div>

<div id="card-words" class="card border-info">
    <div class="card-header">Description</div>
    <div class="card-body text-primary">
        {% for word in description %}
        <span class="badge badge-info">{{ word }}</span>
        {% endfor %}
    </div>
</div>

<div id="card-words" class="card border-info">
    <div class="card-header">General</div>
    <div class="card-body text-primary">
        {% for word in general %}
        <span class="badge badge-info">{{ word }}</span>
        {% endfor %}
    </div>
</div>

<div>
    <h3 id="color_h"><strong>Search:</strong> {{ name_search }}</h3>
    <h4 id="color_h"><strong>Days:</strong> {{ qt_days}}</h4>

    {% for video in all_video %}
    <div class="group">
        {{ video.date_month }} - <a id="link-youtube" href="{{ video.linkpage }}" target="_blank">{{ video.name }}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}