/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
        font-size: 13px;
    }

    #sidebar {
        width: 100%;
    }
    
    #big_ctnr {
        width: 100%;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 13px;
    }

    #sidebar {
        width: 40%;
        min-height: 100vh;
        position: relative;
        float: left;
    }
    
    #big_ctnr {
        width: 60%;
        float: right;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 15px;
    }

    #sidebar {
        width: 35%;
        min-height: 100vh;
        position: relative;
        float: left;
    }
    
    #big_ctnr {
        width: 65%;
        float: right;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 15px;
    }

    #sidebar {
        width: 30%;
        min-height: 100vh;
        position: relative;
        float: left;
    }
    
    #big_ctnr {
        width: 70%;
        float: right;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 15px;
    }
    
    #sidebar {
        width: 25%;
        min-height: 100vh;
        position: relative;
        float: left;
    }
    
    #big_ctnr {
        width: 75%;
        float: right;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
    
    body {
        background-color:rgb(63, 65, 72);
    color: #fff;
    
}

.navbar-brand span#youtube {
    font-weight: bold;
    color: rgb(238, 88, 88);
}

.navbar-brand span#for {
    font-weight: bold;
    color: rgb(143, 143, 142);
    margin-left: -4px;
}

.navbar-brand span#me {
    font-weight: bold;
    color: rgb(204, 204, 204);
    margin-left: -4px;
}


.myfooter {
    width: 100%;
    /* position: relative; */
    background-color: #383B43;
    padding: 15px 0 15px 0;
    text-align: center;
    vertical-align: middle;
}


.myfooter a {
    text-decoration: none;
    color: #303235;
}

.myfooter a {
    text-decoration: none;
    color: white;
}

.myfooter a:hover {
    /* text-decoration: none; */
    opacity: 0.3;
}

.myfooter span#link_wm_w {
    color: #209af1;
}

.myfooter span#link_wm_m {
    color: #ababab;
    margin-left: -2px;
    margin-right: 2px;
}

.myfooter span#link_wm_and {
    color: rgb(238, 88, 88);
}

main {
    height: auto;
    min-height: 100vh;
}

.form-group {
    margin-bottom: 6px;
}

.form-control {
    background-color: transparent;
    color: rgb(152, 152, 152);
}

a.w3-button {
    padding: 4px 0 0 0;
    margin-right: 10px;
}

a.w3-teal {
    background-color: transparent !important;
    font-size: 17px !important;
}

a#openNav {
    background-color: transparent !important;
    color: #fff !important;
}

a#openNav:hover {
    opacity: 0.6;
}

#sidebar {
    background-color: #4c5058 !important;
    color: black;
    height: auto;
    padding: 20px 15px 10px 15px;
}

#sidebar form {
    margin-left: 0px;

}

button#btn-search, a#btn-search {
    width: 100%;
}

#big_ctnr {
    padding: 20px 25px 20px 25px;
}

div#field-min span{
    color: white;
}

div#field-min input{
    width: 100%;
    background: transparent;
    font-weight: bold;
    color: white;
    border-color: rgb(18, 185, 218);
    border-style: solid;
    border-radius: 3px;
    padding-left: 5px;

}

#card-words {
    background: transparent;
    margin-bottom: 10px;
}

.card-header {
    padding: 0 0 0 10px;
    background: #105d69;
}

.card-body {
    padding: 4px 0px 4px 4px;
}

.card-body span.badge {
    margin-left: 4px;
}

a#link-youtube {
    font-size: 14px;
}

a#link-youtube:hover, a#link-youtube:visited {
    color: rgb(48, 236, 255);
    font-weight: bold;
    text-decoration: none;
}

#openInformation {
    color: black;
}

#color_h {
    color: rgb(14, 169, 185);
}