{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>youtube4me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/youtube4me.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/w3.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        /* SCRIPT JQUERY PARA TROCAR DE COR NAVBAR */
        $(window).scroll(function () {
            if ($(this).scrollTop() > 10) {
                $('.navbar_youtube4me').css("position", "fixed")
                $('.navbar_youtube4me').css("width", "100%")
                $('.navbar_youtube4me').css("transition-duration", "0.7s")
                $('.navbar_youtube4me').css("z-index", "1")
            } else {
                if ($(this).scrollTop() <= 10) {
                    $('.navbar_youtube4me').css("-webkit-box-shadow", "none")
                    $('.navbar_youtube4me').css("position", "relative")
                    $('.navbar_youtube4me').css("transition-duration", "0.7s")
                }
            }
        });
    </script>
</head>

<body>
    <div class="navbar_youtube4me">
        <nav class="row_container navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span id="youtube">youtube</span>
                <span id="for">4</span>
                <span id="me">me</span>
            </a>

            <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#openInformation">Information</button>
        </nav>
    </div>

    <!-- Modal - Sign In Button-->
    <div class="modal fade" id="openInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information ...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    {{ information }}
                </div>

                <div class="modal-footer left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <main>
        <div class="row">
            <!-- Sidebar -->
            <div id="sidebar">
                <form method="post">{% csrf_token %} {% for field in form %}
                    <div class="form-group">
                        <div class="col">
                            <div id="field-min">
                                <span>{{ field.label }}</span>{{ field }}</div>
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}

                    <div class="form-group">
                        {% if form %}
                        <div class="col">
                            <button id="btn-search" type="submit" class="btn btn-info">Search</button>
                        </div>
                        {% endif %} {% if not form %}
                        <div class="col">
                            <a href="{% url 'home' %}" id="btn-search" class="btn btn-success">New Search</a>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>

            <div id="big_ctnr">
                {% block content %}{% endblock %}
            </div>

        </div>
    </main>

    <footer id="footer" class="myfooter mt-auto">
        <strong id="text_footer">
            <a id="link_wm" target="_blank" href="https://wmdeveloper.herokuapp.com/">
                <span id="link_wm_w">W</span>
                <span id="link_wm_m">M</span>Developer</a>
            <span id="link_wm_and">and</span>
            <a target="_blank" href="https://www.ahgora.com.br/hcm/">ahgora</a>
        </strong>
    </footer>

</body>

</html>